<section>
        <div class="bg-center relative h-96 bg-no-repeat bg-[url('/img/back-img.jpg')]" >
            <div class="mx-auto absolute left-1/2 bg-orange-500" style="bottom: 90%;">
               
                <img class="text-black  " src="./img/via+carota+logo.jpeg" alt="" >
            </div>
            <div class="max-w-xl   md:left-80 absolute text-white md:pt-20 text-wrap">
                <h1 class="text-6xl font-sans">Experty crafted cockteils poured by you</h1>
                <button class="btn bg-amber-500 mt-7">Shop now</button>
            </div>
        </div>
</section>

{% schema %}
{
  "name": "Top Banner Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "Top Banner Section"
    }
  ]
}
{% endschema %}
