<section>
        <div class="bg-center relative h-screen bg-no-repeat bg-[url('https://cdn.shopify.com/s/files/1/0681/5894/7580/files/Via_Carota_Craftcocktailhero.png?v=1707973787')]" >
            <div class="max-w-2xl md:left-80 absolute text-white md:py-60 text-wrap ">
                <h1 class="text-7xl font-sans text-white uppercase">Expertly crafted cocktails, POURED BY YOU</h1>
                <button class="btn bg-amber-500 mt-7 text-2xl px-14 py-4 uppercase">Shop now</button>
            </div>
        </div>
</section>

{% schema %}
{
  "name": "Top Banner Section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "presets": [
    {
      "name": "Top Banner Section"
    }
  ]
}
{% endschema %}
